html.dark {
  color-scheme: dark;
}

.VPContent {
  background: url("/grid.svg") rgba(255, 255, 255, 0.6);
  background-blend-mode: difference;
  background-attachment: fixed;
}

.dark .VPContent {
  background: rgb(40, 40, 40, 0.6) url("/grid.svg");
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.vp-doc h2 {
  border-top: 0px;
  margin-top: 10px;
}

.VPMenuLink .link {
  line-height: 28px !important;
}

.VPSidebarGroup .link {
  padding: 3px 0 !important;
}

.VPTeamPageTitle .title {
  line-height: 32px;
  font-size: 24px;
  opacity: 0.5;
}

.VPTeamPageTitle .lead {
  font-size: 14px;
  opacity: 0.4;
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}
