/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-accent: #35495e;
  --vp-c-brand: #df1212;
  --vp-c-brand-dark: #3385ff;
  --vp-c-text-code: #5d6f5d;
  /* --vp-code-block-bg: rgba(125, 125, 125, 0.04); */
  --vp-c-disabled-bg: rgba(125, 125, 125, 0.2);
  /* fix contrast on gray cards: used by --vp-c-text-2 */
  --vp-c-brand-light: #ff8f91;
  --vp-c-text-light-2: rgba(30, 30, 30, 0.7);
  --cho-code-block-bg: rgba(125, 125, 125, 0.04);
  --vp-c-bg-alt: rgba(235, 235, 235, 0.6);
}

.dark {
  --vp-code-block-bg: rgba(0, 0, 0, 0.2);
  --vp-c-text-code: #c0cec0;
  /* fix contrast on gray cards: check the same above (this is the default) */
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.6);
  --vp-c-bg: rgb(10, 11, 10);
  --vp-c-bg-alt: rgba(10, 11, 10, 0.6);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-line-highlight-color: rgba(125, 125, 125, 0.2);
}

.dark {
  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #ffffff -80%,
    #ea4a4a
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #ea4a4a 30%,
    #35495e80
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}
